$wordpress-image-margin-top: 	1em !default;
$wordpress-image-margin-right: 	1em !default;
$wordpress-image-margin-bottom: 1em !default;
$wordpress-image-margin-left: 	1em !default;
$wordpress-image-max-width:		100% !default;

$wordpress-caption-full-width: 	true !default;